body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.controls button#play {
  background-color: red;
}

.heading {
  font-style: italic;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    margin: 10px;
  }
}
