body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;    
    background-image: url("img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


  }
  .container{
    margin-right:850px;
    margin-top:280px;
    text-align: center;
    /* height: 200px;
    width: 500px; */
    /* margin-top: 400px; */
    /* background-color: red; */
  }
  
  .controls button {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border-radius: 10px; /* This sets the border-radius for rounded corners */
  background-color: green ;/* Red background color */
  color: #fff; /* White text color */
  border: none; /* Remove default button border */
  cursor: pointer;

  }
  
  .controls button#play {
    background-color:red;
    color: #fff;
    margin-top:20px;
  }
  
.heading{
  font-style: italic;
  margin-bottom:10px;
  font-weight:1000;
}